﻿@model ResumeMaker.Models.ResumeCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Resume</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                @Html.DropDownListFor(model => model.Nationality, Model.Nationalities, new {@class="form-control"})
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @foreach (var gender in Html.GetEnumSelectList<Gender>())
                {
                    <div class="form-check">
                      <input class="form-check-input" type="radio" asp-for="Gender" id="flexRadioDefault-@gender.Value" value="@gender.Text">
                      <label class="form-check-label" for="flexRadioDefault-@gender.Value">
                        @gender.Text
                      </label>
                    </div>
                }
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammingLanguages" class="control-label"></label>
                @for(int i = 0; i < Model.ProgrammingLanguages.Count; i++)
                {
                    <div class="form-check">
                        <input type="hidden" asp-for="@Model.ProgrammingLanguages[i].Value" />
                        <input class="form-check-input pg-checkboxes" type="checkbox" asp-for="ProgrammingLanguages[i].Selected" id="checkbox-@i"/>

                        <label class="form-check-label" for="checkbox-@i">
                            @Model.ProgrammingLanguages[i].Text
                        </label>

                    </div>
                }

                @if(ViewData.ModelState.ContainsKey("ProgLangError"))
                {
                   <span class="text-danger">@ViewData.ModelState["ProgLangError"].Errors.First().ErrorMessage</span> 
                }
                <span id="programmingLanguagesError" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailConfirm" class="control-label"></label>
                <input asp-for="EmailConfirm" class="form-control" />
                <span asp-validation-for="EmailConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input accept="image/*" type="file" name="Image" asp-for="Image" class="form-control" value="@Model.Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Model.GeneratedNumber1 + @Model.GeneratedNumber2 = 
                <input hidden asp-for="GeneratedNumber1" class="form-control" value="@Model.GeneratedNumber1"/>
                <input hidden asp-for="GeneratedNumber2" class="form-control" value="@Model.GeneratedNumber2"/>
                <input asp-for="GeneratedNumbersSum" class="form-control" />
                <span asp-validation-for="GeneratedNumbersSum" class="text-danger"></span>
                @if(ViewData.ModelState.ContainsKey("VertificationSumError"))
                {
                   <span class="text-danger">@ViewData.ModelState["VertificationSumError"].Errors.First().ErrorMessage</span> 
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

