﻿@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Resume</h4>
    <div>
        <a class="btn btn-info" asp-controller="Resume" asp-action="Download" asp-route-id="@ViewBag.Resume.ID">Download as PDF</a>
    </div>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.FirstName
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.LastName
        </dd>
        <dt class="col-sm-2">
            Birth Date
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.BirthDate
        </dd>
        <dt class="col-sm-2">
            Nationality
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.Nationality
        </dd>
        <dt class="col-sm-2">
            Gender
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.Gender
        </dd>
        <dt class="col-sm-2">
            Programming Languages
        </dt>
        <dd class="col-sm-10">
            @foreach(var language in ViewBag.Resume.ProgrammingLanguages.Split(','))
            {
                <span style="background-color: aliceblue;padding:5px;border-radius: 5px;">@language</span>
            }
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.Email
        </dd>
        <dt class="col-sm-2">
            Grade
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Resume.Grade
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if(ViewBag.Resume.ImageURL.Equals(""))
            {
                <img style="width:250px;height:250px;" class="img-responsive" src="~/images/no-image.png" />
            } else
            {
                <img style="width:250px;height:250px;" class="img-responsive" src="~/images/uploads/@ViewBag.Resume.ImageURL" />
            }
            
        </dd>
    </dl>
</div>

<div>
    <a asp-controller="Resume" asp-action="Edit" asp-route-id="@ViewBag.Resume.ID">Edit</a> |
    <a asp-controller="Resume" asp-action="Index">Back to List</a>
</div>