﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

<div class="card-deck">
    @foreach(var resume in @ViewBag.Resume)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem">
                @if(resume.ImageURL.Equals(""))
                {
                    <img class="card-img-top" style="width:100%;height:180px;" src="~/images/no-image.png" alt="Card image cap">
                } else
                {
                    <img class="card-img-top" style="width:100%;height:180px;" src="~/images/uploads/@resume.ImageURL" alt="Card image cap">
                }
                <div class="card-body">
                <h5 class="card-title">@resume.FirstName @resume.LastName</h5>
                <p class="card-text">Grade: @resume.Grade</p>
                <a asp-controller="Resume" asp-action="Details" asp-route-id="@resume.ID" class="btn btn-info">Details</a>
                <button data-toggle="modal" data-target="#deleteConfirmModal-@resume.ID" class="btn btn-danger" style="float:right;">Delete</button>
                </div>
            </div> 

            <!-- Modal -->
            <div class="modal fade" id="deleteConfirmModal-@resume.ID" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalLabel">Are you sure you want to delete this Resume?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form asp-action="Delete" asp-route-id="@resume.ID">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    }
</div>